h1{
    color: aquamarine;
   
}
h2{
    color: brown;
  
}
button{
    
    background-color: rgb(9, 77, 80);
    border: rgb(3, 3, 15);
    color: darkseagreen;
    padding: 15px 30px;
    text-align: center;
}