th, td {

    padding: 15px;
    text-align: left;
    border-style: ridge;
    background-color: lightskyblue;
    width: 50%;
    max-width: 100%;
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 0.5rem;
    vertical-align: middle;
    line-height: 1.5rem;
    border: solid 1p black;
    text-align: left;
}


 