<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body><pre>
 <h2> Enter firstNumber:</h2>
  <input type="number" placeholder="enter first number" [(ngModel)]="firstNumber">
  <br>
  <h2>Enter secondNumber:</h2>
  <input type="number" placeholder="enter second number" [(ngModel)]="secondNumber">
  <br>
  <h2>Result:</h2>
  <input type="number" [(ngModel)]="result">
  
</pre>
  <button (click)="add()">+</button>
  <button (click)="sub()">-</button>
  <button (click)="mul()">*</button>
  <button (click)="div()">/</button>

</body>
</html>